* {
  cursor: auto;
}

button {
  cursor: pointer;
  border-radius: 2px;
  background: linear-gradient(white, rgb(2, 132, 130));
}

button:hover {
  -webkit-filter: brightness(150%);
}

input {
  border-radius: 3px;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sign-in-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25;
  margin-left: -120;
  cursor: pointer;
}

.sign-in-button:hover {
  margin-top: -20;
}

#title {
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #FF9800;
  font-size: 6em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(139, 0, 139, 0.3));
  text-shadow: 0px 1px 0px #FFF, 0px 2px 0px #EEE, 0px 3px 0px #DDD, 0px 4px 0px #CCC, 0px 5px 0px #BBB, 0px 6px 0px #AAA, 0px 7px 0px #999, 0px 8px 7px #000000;
  height: auto;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  border-radius: 50px;
}

#messageFont {}
#msg {}
#sendMsg {}
  
#content {
  position: static;
  margin-left: 3%;
  margin-right: 3%;
}

#videoBox {
  width: 50%;
  height: 70%;
  top: 20%;
  bottom: 5%;
  position: absolute;
  background-color: black;
  padding-right: 5px;
}

#statsPage {
  background-color: rgb(75,75,75);
  width: 50%;
  height: 6%;
  bottom: 3%;
  position: absolute;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#videoListing {
  overflow: auto;
  width: 20%;
  height: 70%;
  position: absolute;
  background-color: rgb(75,75,75);
  top: 20%;
  right: 3%;
  padding-left: 5px;
  border-radius: 20px;
}

#videoListing .videoList {
  width: 94%;
  height: auto;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#videoListing .videoList font {
  text-overflow: ellipsis;
  position: absolute;
  top: 5%;
  width: 90%;
  left: 5%;
  right: 5%;
  cursor: pointer;
  height: auto;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  background: rgba(0,0,0,0.5);
}

#videoListing .videoList:hover {
  -webkit-filter: brightness(150%);
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#show-more-videos {
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 3%;
  margin-top: 3%
}

#chatBox {
  width: 20%;
  height: 70%;
  position: absolute;
  background: rgb(75, 75, 75);
  top: 20%;
  bottom: 5%;
  right: 24%;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
}

#chatList {
  background: transparent;
  overflow: auto;
  width: 94%;
  height: 92%;
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%; 
}

#chatList .chatMsg {
  background: linear-gradient(rgb(100,100,100), rgb(255,255,255));
  position: relative;
  width: 96%;
  height: auto;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 30px;
  box-shadow: 2px 2px black;
}

.profile-icon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 25px;
  border: 1px solid black;
}

.chat-text {
  position: relative;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  left: 8%;
  margin-right: 5%;
  top: 20px;
  padding-bottom: 15%;
  height: auto;
  color: rgb(25, 25, 25);
  width: 90%;
  word-wrap: break-word;
}

.chat-name {
  position: relative;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  top: -45px;
  left: 65px;
  height: 0px;
  word-wrap: break-word;
  width: 60%;
  color: black;
}

.chat-date {
  position: relative;
  word-wrap: break-word;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: rgb(100, 100, 100);
  text-align: right;
  margin-right: 15px;
  top: -15px;
  height: 0px;
  right: -10px;
}


#searchArea {
  overflow: hidden;
  background: transparent;
  align: center;
  position: absolute;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  bottom: 1%;
  height: auto;
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

#searchArea input {
  align: center;
  position: relative;
  width: 60%;
}

#searchArea button {
  align: center;
  position: static;
  right: 0px;
}

#sendMessgeWindow {
background-color: rgb(75,75,75);
  width: 42%;
  height: 6%;
  bottom: 3%;
  right: 3%;
  position: absolute;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#myIcon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  position: relative;
  border: 1px solid black;
  top: -4px;
  left: 10px;
}

#messageFont {
  position: relative;
  top: -16px;
  left: 10px;
}

#message {
  position: relative;
  top: -16px;
  left: 10px;
}

#sendMsg {
  position: relative;
  top: -16px;
  left: 10px;
}

#btnLogout {
  position: absolute;
  right: 20px;
  top: 7px;
}