<div id="videoBox">
  <iframe id="video"
    width="100%" 
    height="100%"
    src=""
    frameborder="0"
    allow="autoplay;
    encrypted-media"
    allowfullscreen>
  </iframe>
</div>

<div id="statsPage">
Stats:
<div id="numWatchers"></div>
<button id="btnLogout" onClick="LogOut()">Log Out</button>
</div>

<div id="chatBox">
  <div id="chatList"> 
  </div>
  <div id="searchArea">
    Filter Messages By Username<br>
    <input id="getUsername" placeholder="Username" />
    <button id="LookupCommentsBtn" onClick="LookupComments()">Search</button>
  </div>
</div>

<div id="videoListing"></div>

<div id="sendMessgeWindow">
<img src="" id="myIcon">
<font id="messageFont"></font>
<input id="message" placeholder="Message"/>
<button id="sendMsg" onClick="sendMsg()">Send</button>
</div>

<font style="font-size: 11px; position:fixed; bottom: 5px; margin: 0 auto; text-align: center; width: 100%; color: white; font-family: 'Roboto', sans-serif;">© Copyright 2018 Evan Svendsen</font>